# Homework - ETL From Scratch with Python (Scraping)
## Nama: Bernard Evan Kanigara

In [1]:
import pandas as pd
import logging

logging.basicConfig(level=logging.INFO)

### Extract the Data from Wikipedia

In [5]:
url =  "https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes"

In [6]:
def scrape(url):
  logging.info(f"Scraping website with url: '{url}' ...")
  return pd.read_html(url, header=None)

In [9]:
dfs = scrape(url)[1]

INFO:root:Scraping website with url: 'https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes' ...

In [10]:
dfs

,No.,Nama,Kekayaan bersih (USD),Usia,Kebangsaan,Sumber kekayaan
0,NaN,Jeff Bezos,$177 miliar,57,Amerika Serikat,Amazon
1,NaN,Elon Musk,$151 miliar,49,Amerika Serikat,"Tesla, SpaceX"
2,NaN,Bernard Arnault & keluarga,$150 miliar,72,Prancis,LVMH
3,NaN,Bill Gates,$124 miliar,65,Amerika Serikat,Microsoft
4,NaN,Mark Zuckerberg,$97 miliar,36,Amerika Serikat,Meta Platforms
5,NaN,Warren Buffett,$96 miliar,90,Amerika Serikat,Berkshire Hathaway
6,NaN,Larry Ellison,$93 miliar,76,Amerika Serikat,Oracle Corporation
7,NaN,Larry Page,$91.5 miliar,48,Amerika Serikat,Alphabet Inc.
8,NaN,Sergey Brin,$89 miliar,47,Amerika Serikat,Alphabet Inc.
9,NaN,Mukesh Ambani,$84.5 miliar,63,India,Reliance Industries

### Transform (Cleaning) Data

In [11]:
import re

In [21]:
def transform_money_format(string_money):
    half_clean_string = string_money.lower().replace(" ", "")
    return re.sub(r"[?\[M\]miliar|\[$\]]", "", half_clean_string)

In [23]:
transform_money_format("$91.5 miliar")

'91.5'

In [45]:
def transform(df, tahun):
    logging.info("Transforming DataFrame ...")

    columns_mapping = {
        "Nama": "nama",
        "Kekayaan bersih (USD)": "kekayaan_bersih_usd",
        "Usia": "usia",
        "Kebangsaan":"kebangsaan",
        "Sumber kekayaan":"sumber_kekayaan"
    }
    
    renamed_df = df.rename(columns=columns_mapping)
    
    renamed_df['nomor_urut'] = renamed_df.reset_index().index+1
    
    renamed_df["tahun"] = tahun
    
    renamed_df["kekayaan_bersih_usd_juta"] = renamed_df["kekayaan_bersih_usd"].apply(
        lambda value: float(transform_money_format(value)) * 1000 
    )

    return renamed_df[["nama","nomor_urut","kekayaan_bersih_usd_juta","usia","kebangsaan","sumber_kekayaan","tahun"]]

In [46]:
df_2021 = transform(dfs, 2021)

INFO:root:Transforming DataFrame ...

In [47]:
df_2021

,nama,nomor_urut,kekayaan_bersih_usd_juta,usia,kebangsaan,sumber_kekayaan,tahun
0,Jeff Bezos,1,177000.0,57,Amerika Serikat,Amazon,2021
1,Elon Musk,2,151000.0,49,Amerika Serikat,"Tesla, SpaceX",2021
2,Bernard Arnault & keluarga,3,150000.0,72,Prancis,LVMH,2021
3,Bill Gates,4,124000.0,65,Amerika Serikat,Microsoft,2021
4,Mark Zuckerberg,5,97000.0,36,Amerika Serikat,Meta Platforms,2021
5,Warren Buffett,6,96000.0,90,Amerika Serikat,Berkshire Hathaway,2021
6,Larry Ellison,7,93000.0,76,Amerika Serikat,Oracle Corporation,2021
7,Larry Page,8,91500.0,48,Amerika Serikat,Alphabet Inc.,2021
8,Sergey Brin,9,89000.0,47,Amerika Serikat,Alphabet Inc.,2021
9,Mukesh Ambani,10,84500.0,63,India,Reliance Industries,2021

## Load (Storing) to the Database Local

In [48]:
from sqlalchemy import create_engine

In [52]:
engine = create_engine('postgresql+psycopg2://postgress:120997@localhost/postgress')

In [55]:
def write_to_postgres(df, db_name, table_name, connection_string):
    engine = create_engine('postgresql+psycopg2://postgres:120997@localhost/postgres')
    logging.info(f"Writing dataframe to database: '{db_name}', table: '{table_name}' ...")
    df.to_sql(name = table_name, con=engine, if_exists="replace", index=False)

In [56]:
write_to_postgres(df=df_2021, db_name="postgres", table_name="Bernard-Evan-Kanigara_orang_terkaya_forbes", connection_string='postgresql+psycopg2://user:120997@localhost/postgress')

INFO:root:Writing dataframe to database: 'postgres', table: 'Bernard-Evan-Kanigara_orang_terkaya_forbes' ...

Hasil Load ke database Postgres Lokal <img src="database_lokal.png"/>

## Read Data From Database Local

In [60]:
def read_from_postgres(db_name, table_name, connection_string):
    engine = create_engine('postgresql+psycopg2://postgres:120997@localhost/postgres')

    logging.info(f"Reading postgres database: ...")
    return pd.read_sql_table("Bernard-Evan-Kanigara_orang_terkaya_forbes", con=engine)

In [61]:
result_df = read_from_postgres(db_name="postgres", table_name="Bernard-Evan-Kanigara_orang_terkaya_forbes", connection_string='postgresql+psycopg2://user:120997@localhost/postgress')

INFO:root:Reading postgres database: ...

In [62]:
result_df

,nama,nomor_urut,kekayaan_bersih_usd_juta,usia,kebangsaan,sumber_kekayaan,tahun
0,Jeff Bezos,1,177000.0,57,Amerika Serikat,Amazon,2021
1,Elon Musk,2,151000.0,49,Amerika Serikat,"Tesla, SpaceX",2021
2,Bernard Arnault & keluarga,3,150000.0,72,Prancis,LVMH,2021
3,Bill Gates,4,124000.0,65,Amerika Serikat,Microsoft,2021
4,Mark Zuckerberg,5,97000.0,36,Amerika Serikat,Meta Platforms,2021
5,Warren Buffett,6,96000.0,90,Amerika Serikat,Berkshire Hathaway,2021
6,Larry Ellison,7,93000.0,76,Amerika Serikat,Oracle Corporation,2021
7,Larry Page,8,91500.0,48,Amerika Serikat,Alphabet Inc.,2021
8,Sergey Brin,9,89000.0,47,Amerika Serikat,Alphabet Inc.,2021
9,Mukesh Ambani,10,84500.0,63,India,Reliance Industries,2021

# Load (Storing) to the Database (Cloud)

In [66]:
DB_NAME = "postgres"
DB_USER = "user1"
DB_PASSWORD = "user1"
DB_HOST = "104.197.148.144"
DB_PORT = "5432"
CONNECTION_STRING = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
TABLE_NAME = "Bernard-Evan-Kanigara_orang_terkaya_forbes"

In [67]:
CONNECTION_STRING

'postgresql://user1:user1@104.197.148.144:5432/postgres'

In [68]:
def write_to_postgres(df, db_name, table_name, connection_string):
    engine = create_engine(connection_string)
    logging.info(f"Writing dataframe to database: '{db_name}', table: '{table_name}' ...")
    df.to_sql(name = table_name, con=engine, if_exists="replace", index=False)

In [69]:
write_to_postgres(df=df_2021, db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_STRING)

INFO:root:Writing dataframe to database: 'postgres', table: 'Bernard-Evan-Kanigara_orang_terkaya_forbes' ...

# Read Data from Database (Cloud)

In [70]:
def read_from_postgres(db_name, table_name, connection_string):
    engine = create_engine(connection_string)

    logging.info(f"Reading postgres database: '{db_name}', table: '{table_name}' ...")
    return pd.read_sql_table(table_name, con=engine)

In [71]:
result_df_database_mas_bagas = read_from_postgres(db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_STRING)

INFO:root:Reading postgres database: 'postgres', table: 'Bernard-Evan-Kanigara_orang_terkaya_forbes' ...

In [72]:
print("Daftar Orang Terkaya versi Forbes 2021:")
print(result_df_database_mas_bagas.to_string())

Daftar Orang Terkaya versi Forbes 2021:
                         nama  nomor_urut  kekayaan_bersih_usd_juta  usia       kebangsaan      sumber_kekayaan  tahun
0                  Jeff Bezos           1                  177000.0    57  Amerika Serikat               Amazon   2021
1                   Elon Musk           2                  151000.0    49  Amerika Serikat        Tesla, SpaceX   2021
2  Bernard Arnault & keluarga           3                  150000.0    72          Prancis                 LVMH   2021
3                  Bill Gates           4                  124000.0    65  Amerika Serikat            Microsoft   2021
4             Mark Zuckerberg           5                   97000.0    36  Amerika Serikat       Meta Platforms   2021
5              Warren Buffett           6                   96000.0    90  Amerika Serikat   Berkshire Hathaway   2021
6               Larry Ellison           7                   93000.0    76  Amerika Serikat   Oracle Corporation   2021
7                  Larry Page           8                   91500.0    48  Amerika Serikat        Alphabet Inc.   2021
8                 Sergey Brin           9                   89000.0    47  Amerika Serikat        Alphabet Inc.   2021
9               Mukesh Ambani          10                   84500.0    63            India  Reliance Industries   2021